<div id='hello'>
  <p> {{ message }} </p>
</div>
<div class='container'>
  <div class='row'>
    <%- @books.each do |book| %>
      <div class='col s4 m6'>
        <div class='card'>
          <%= book.title %>
        </div>
      </div>
    <% end %>
  </div>
</div>


